.D3ForceLayout-container {
    width: 100%;
    border: solid blueviolet 1px;

    circle {
        cursor: pointer;
        .site-preview {
            position: absolute;
            width: 150px;
            height: 150px;
            border: solid red 1px;
            z-index: 1000;
        }
    }
}