.default-template-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    & * {
        box-sizing: border-box;
    }
    .default-template-header {
        grid-area: h;
    }
    .default-template-navigation {
        grid-area: s;
    }
    .default-template-main {
        flex: 1;
        grid-area: m;
    }
    .default-template-footer {
        grid-area: f;
    }
}
