.default-header {
    border: solid black 1px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    height: 100%;
    .default-header-logo {
        align-self: center; 
        margin-left: 1em;                
    }
    .default-header-right {
        margin-left: auto;
    }
}