.default-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    margin: 15px;
    padding-bottom: 15px;
    border-radius: 4px;
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    }
    .default-card-header {
        text-align: center;
    }
    .default-card-content {
        margin: 15px;
    }
    .default-card-footer {
        text-align: center;
    }

    &.dark {
        background: #3d3d3e;
        color: white;
    }
}