.default-sidenav {
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border: solid black 1px;
}
